
body {
    background:rgb(95, 91, 122);
    margin-top: 150px;
    margin-left: 1in;
    margin-right: 1in;
    margin-bottom: 1in;
    word-spacing: 1.2pt;
    font-family: 'VT323', monospace;
    line-height: 10px;
    text-align: center;
    color: aliceblue;
}

.heading {
    font-size: 40px;
    line-height: 1in;
    text-align: center;
    margin-bottom: 200px;
    color: aliceblue;
}
h2{
    font-size: 35px;
}


.websites a{
    line-height: 100px;
    color: rgb(205, 232, 255);
    font-size: 30px;
}

.websites {
    margin-bottom: 200px;
}

